<!DOCTYPE html>
<html lang="en" ng-app="viewportDemoApp">
<head>
    <meta charset="UTF-8">
    <title>Page Viewer Demo</title>
    <link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="demo.css">
</head>
<body ng-controller="DemoController as demo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Page Viewer Demo</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h4>Pages</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="page in demo.pages" ng-bind="page.name" ng-click="demo.select(page)"></a>
                </div>
                <button class="btn btn-default" ng-click="demo.clear()">Reset</button>
            </div>
            <div class="col-md-2">
                <h4>Indexes</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="index in demo.page.indexes" ng-bind="index.name" ng-click="demo.index(index)"></a>
                </div>
            </div>
            <div class="col-md-8">
                <page-viewer page="demo.page" overlays="demo.page.indexes"></page-viewer>
            </div>
        </div>
        <footer class="row navbar-fixed-bottom panel-footer ">
            <div class="col-md-12 text-center text-muted">
                Demo viewport
            </div>
        </footer>
    </div>
    <script src="../vendor/angular/angular.min.js"></script>
    <script src="../vendor/paper/dist/paper-full.min.js"></script>
    <script src="../dist/page-viewer.directive.js"></script>
    <script src="app-demo.js"></script>
</body>
</html>