page-viewer
  display: block

.lgs

  &-viewport-wrapper
    width: 100%
    height: 100%
    position: relative
    background-color: #f7f7f9
    border: 1px solid #e1e1e8
    border-radius: 4px
    user-select: none //TODO add browsers prefixes

  &-viewport-controls
    top: 10px
    left: 10px

  &-viewport-overlays, &-viewport-controls
    position: absolute

  &-viewport, &-viewport-overlays
    height: 100%
    width: 100%

  &-viewport-overlays
    h3
      top: 50%
      position: absolute
      margin: 0
      width: 100%
      transform: translate(0, -50%)

  &-page-dragging
    cursor: pointer
    cursor: -webkit-grab
