<!--smoosh-->
<link rel="stylesheet" href="page-viewer.css">
<!--endsmoosh-->

<div class="lgs-viewport-wrapper">
    <div class="lgs-viewport-controls">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="zoomIn()">
                <span class="glyphicon glyphicon-zoom-in"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="fit()">
                <span class="glyphicon glyphicon-resize-full"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="zoomOut()">
                <span class="glyphicon glyphicon-zoom-out"></span>
            </button>
            <button type="button" class="btn btn-default" ng-show="image">
                <span ng-bind="scale + '%'"></span>
            </button>
        </div>

        <div class="btn-group" role="group">
            <button class="btn btn-default" type="button" ng-click="rotateLeft()">
                <i class="fa fa-undo"></i>
            </button>
            <button class="btn btn-default" type="button" ng-click="rotateRight()">
                <i class="fa fa-repeat"></i>
            </button>
        </div>
    </div>
    <div class="lgs-viewport-overlays text-center" ng-hide="image">
        <h3 ng-show="noData" class="text-muted">No data</h3>
        <h3 ng-show="loading" class="text-muted">Loading</h3>
    </div>
    <canvas class="lgs-viewport" resize="true" ng-class="{true: 'lgs-page-dragging'}[mousePressed]" data-girar="0"></canvas>
    <img ng-src="{{image.src}}" height="{{image.height}}" width="{{image.width}}" style="display: none">
</div>